#author-form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
#author-form input,
#author-form select,
#author-form textarea {
    margin: 0 1rem;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}
